body{
    margin: 0;
    border: 0;
    font-family: "Roboto",Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.container{
    background-color: #eeeeee;
    display: grid;
    grid-template-columns: minmax(175px,30vh) 3fr;
    grid-template-rows: 20vh 80vh;
    grid-template-areas: "sidebar uppercontent"
    "sidebar bottomcontent";
    align-content: center;
}
.sidebar{
    color: white;
    background-color: #2dd4bf;
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.uppercontent{
    background-color: white;
    grid-area: uppercontent;
    display: grid;
    grid-template-rows: auto;
    align-content: space-around;
    padding-left: 20px;
}
.uc1{
    display: grid;
    grid-template-columns: 25px minmax(200px,400px) minmax(180px,1fr);
    align-items: center;
}
.uc1>div{
    text-align: end;
    gap: 20px;
}
.uc2{
    display: grid;
    grid-template-columns: 50px minmax(200px,80%) 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 10px;
}
.uc2>div{
    display: grid;
    justify-self: left;
}
.bottomcontent{
    grid-area: bottomcontent;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "uno dos"
    "uno tres";
    background-color: white;
    margin: 40px;
    align-items: center;
}
.yourprojects{
    grid-area: uno;
    display: grid;

}
#cards{
    margin: 20px;
    border-left-color: yellow;
    border-left: 5px;
}
.announcements{
    grid-area: dos;
}
.trending{
    grid-area: tres;
}
@font-face {
    font-family: "Roboto";
    src: url("../admindashboard/Fonts/Roboto-Thin.ttf");
}
.menu{
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
    list-style: none;
    align-items: center;
    align-self: flex-start;
    grid-template-columns: 130px;
}
.logo{
    font-size: 30px;
}
input{
    width: 80%;
    background-color: #eeeeee;
    border-radius: 30px;
    border: 0;
    height: 20px;
}
button{
    background-color: #0d9488;
    color: white;
    border: 0;
    border-radius: 40px;
    animation: alternate;
    padding-inline: 18px;
    padding-block: 10px;
}
button:hover{
    background-color: #2dd4bf;
    transition-duration: 700ms;
    color: black;
    border: 2px solid;
}